.header img{
    Margin-left:10%;
    Margin-right: 10%;
    width: 80%
}
.bodytext{
    Margin-left:10%;
    Margin-right: 10%;
}

.footer{
    Margin-top: 210px;
    text-align: center;
}

em {
    font-weight: bold;
    }

H2 {
	font-family: Georgia, helvetica;
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
	}
H3 {
	font-family: Georgia, helvetica;
    font-size: 30px;
    font-weight: bold;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
	}
H4 {
	font-family: Georgia, helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
	}
p {
	font-family: Georgia, helvetica;
    font-size: 15px;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
	}

.button {
  Margin: 10px;
  background-color: #2121;
  height: 1.5em;
  width: 8em;
  text-align: center;
  border-radius: 9999px;
}

.button:hover {
  background-color: #2123;
}

.button a {
  text-decoration: none;
}



/*comparison*/
div.bodyphotos {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  overflow: auto;
}


.bodyphotos {
    overflow: auto;
}


.model {
    width: 25%;
    margin-left: 23%;
    float: left;
}

.photo {
    width: 25%;
    margin-right: 23%;
    float: right;
}


.img-0 {
    border-radius: 10px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-1 {
    width: 100%;
    height: auto;
    margin: 0 12px;
    border-radius: 10px;
}

.img-2 {
    width: 100%;
    height: auto;
    margin: 0 12px;
    border-radius: 10px;    
}

